:host {
    display: block;
    height: 100%;

    .maj-root {
        height: inherit;
        // display: flex;
        // align-items: center;
        // flex-direction: column;
        // justify-content: center;
        box-sizing: border-box;
        padding: clamp(0.75em, 2vh, 3em) clamp(0.5em, 2vw, 3em);
        overflow-y: auto;
        width: 100%;
        // background: url("../../assets/backgrounds/landing-background-3.png") no-repeat center / cover;
    }
}

@media (max-width: 40em) {
    :host .maj-root {
        justify-content: flex-start;
        padding: 0.75em 0.5em 1.5em;
    }
}

@media (min-width: 160em) {
    :host .maj-root {
        padding: clamp(2em, 4vh, 5em) clamp(2em, 4vw, 6em);
    }
}