:host {
    display: block;
    height: 100%;

    .maj-root {
        height: inherit;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
}