.layout-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: inherit;

    .layout-body {
        gap: 0.5rem;
        display: grid;
        grid-template-columns: 250px 1fr;
    }
}