<section class="navbar-wrapper">
    <div class="app-icon-wrapper ">
        <h1>MajeVal</h1>
    </div>
    <div class="navbar-actions-wrapper">
        <mat-icon aria-hidden="false" aria-label="Info icon" fontIcon="info"></mat-icon>
        <mat-icon aria-hidden="false" aria-label="Notifications icon" fontIcon="notifications"></mat-icon>
        <!-- <mat-icon aria-hidden="false" aria-label="Notifications icon" fontIcon="notifications_active"></mat-icon> -->
        <mat-icon aria-hidden="false" aria-label="My account icon" fontIcon="account_box"></mat-icon>
        <mat-icon aria-hidden="false" aria-label="Logout icon" fontIcon="exit_to_app"></mat-icon>
    </div>
</section>