<div class="form-container">
    <form class="registration-grid" (ngSubmit)="onSubmit()">

        <label class="profile-section" for="profileUpload">
            @if (!imagePreview) {
            <span>Profile Picture</span>
            }
            @if (imagePreview) {
            <img [src]="imagePreview" alt="Profile preview">
            }
            <input type="file" hidden id="profileUpload" accept="image/*" (change)="onFileSelected($event)">
        </label>

        <mat-form-field appearance="outline">
            <mat-label>First Name</mat-label>
            <input matInput [formField]="signUpForm.firstName" placeholder="First Name">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input matInput [formField]="signUpForm.lastName" placeholder="Last Name">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Country</mat-label>
            <mat-select [formField]="signUpForm.country">
                @for (country of countries; track country?.code) {
                <mat-option [value]="country.value">{{country?.viewValue}}</mat-option>
                }
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Mobile Number</mat-label>
            <input matInput [formField]="signUpForm.mobileNumber" placeholder="Mobile Number">
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Email Address</mat-label>
            <input matInput [formField]="signUpForm.email" placeholder="Email Address" type="email" (input)="checkEmailAvailability($event)">
            <!-- @if (emailCheck.isLoading()) {
            <mat-hint>Checking availability...</mat-hint>
            }

            @if (emailCheck.value()?.isTaken) {
            <mat-error>This email is already in use.</mat-error>
            } -->
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Gender</mat-label>
            <mat-select [formField]="signUpForm.gender">
                @for (gender of genders; track gender) {
                <mat-option [value]="gender.value">{{gender?.viewValue}}</mat-option>
                }
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Date Of Birth</mat-label>
            <input matInput [formField]="signUpForm.dateOfBirth" [matDatepicker]="datepicker" />
            <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
            <mat-datepicker #datepicker>
                <mat-datepicker-actions>
                    <button matButton matDatepickerCancel>Cancel</button>
                    <button matButton="elevated" matDatepickerApply>Apply</button>
                </mat-datepicker-actions>
            </mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Username</mat-label>
            <input matInput [formField]="signUpForm.username" placeholder="Username">
        </mat-form-field>
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Password</mat-label>
            <input matInput [formField]="signUpForm.password" placeholder="Password" type="password">
        </mat-form-field>

        <button type="submit" class="signup-btn full-width">SIGNUP</button>

    </form>
</div>