.landing-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;

    .app-title {
        font-family: "Lobster Two", sans-serif;
        font-size: 5em;
        color: #784eca; // FuchsiaBlue
    }

    .app-tag-line {
        font-family: "Lobster Two", sans-serif;
        color: #43c16d; // EmeraldGreen
    }
}